*{
    box-sizing: border-box;
}

:root{
    --background-color: #ea9621;
    --black: #000000;
    --yellow: #d7d29c;
    --red: #ff0000;
    --white: #ffffff;
    --paragraph-color: #6c6a6a;
    --pink: #ffb6c1;
    --orange: #ffa500;

    --sm-font-size: 14px;
}

body{
    background-color: var(--background-color);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a{
    text-decoration: none;
}

h1{
    text-align: center;
    margin-top:50px;
    margin-bottom:0;
}

.line{
    display: flex;
    justify-content: center;
}

.main-content{
background-color: var(--yellow);
margin:50px;
}

ul{
    list-style: none;
}
.nav-bar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top:20px;
}

.logo, .nav-hamburger-icon{
    max-width:50px;
    max-height:auto;
}

.icons{
    max-width:20px;
    max-height:auto;
}

.top-bar{
    display: none; 
}

.btn{
    background-color: var(--red);
    color: var(--white);
    border-radius: 25px;
    padding: 10px 20px;
}

.top-content{
    display: grid;
    grid-template-rows: 1fr 1fr;
    margin:50px;
}

.icon-span{
    display: flex;
    align-items: center;
    gap: 10px;
    background-color : var(--pink);
    width: fit-content;
    border-radius: 10px;
    padding: 5px;
}
.paragraph{
    color: var(--paragraph-color);
    font-size: var(--sm-font-size);
    }

.form-input{
    height: 30px;
    border-radius: 3px;
    border: 1px solid var(--black);
    width: 100%;
}

form{
    display: flex;
    align-items: center;
    gap: 10px;
}

.left-top-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.video-img{
    display: flex;
    align-items: center;
    gap: 10px;
}

h1{
    margin-top:0;
    text-align: left;
}

.red-text{
    color: var(--red);
}

.orange-text{
    color: var(--orange);
}